@model SIGN.MVC.ViewModels.StepViewModel
@{
    ViewBag.Title = "Steps";
}

<div class="container col-md-10 col-md-offset-1">
    <div id="steps" class="panel-group">
        <div class="@(Model.Type == SIGN.Domain.Enums.StepType.Question ? "panel panel-success" : "panel panel-danger")">
            <div class="panel-heading">@Model.Type</div>
            <div class="panel-body">
                <div class="col-md-10">
                    @Model.Text
                </div>
                <div class="col-md-2">
                    @if (Model.Type == SIGN.Domain.Enums.StepType.Question)
                    {
                        <a app-controller="App" asp-action="Step" asp-route-id="@Model.YesStepId" class="btn btn-success">Yes</a>
                        <a app-controller="App" asp-action="Step" asp-route-id="@Model.NoStepId" class="btn btn-warning">No</a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

