@model SIGN.MVC.ViewModels.GuidelinesViewModel
@{
    ViewBag.Title = "Guidelines";
}
<div class="col-md-10 col-md-offset-1">
    <h3>Guidelines</h3>
    <a asp-controller="Guideline" asp-action="Add" class="btn btn-sm btn-primary">Add New Guideline</a>
    <table class="table table-responsive table-striped">
        <thead>
            <tr>
                <th>Number</th>
                <th>Name</th>
                <th>Date Published</th>
                <th>Status</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        @foreach (var guideline in Model.Guidelines)
        {
            <tr>
                <td>@guideline.Number</td>
                <td>@guideline.Name</td>
                <td>@guideline.DatePublished.ToString("dd/MM/yyyy")</td>
                <td>
                    @{
                        switch (guideline.Status)
                        {
                            case SIGN.Domain.Enums.GuidelineStatus.CurrentLessThanThreeYears:
                                <div title="Current < 3 yrs">
                                    <i class="fa fa-check fa-2x text-success"></i>
                                </div>
                                break;
                            case SIGN.Domain.Enums.GuidelineStatus.CurrentThreeToSevenYears:
                                <div title="Current 3 -7yrs. Some recommendations may be out of date Declaration of interests governance may not be in line with current policy">
                                    <i class="fa fa-question-circle-o fa-2x text-warning"></i>
                                </div>
                                break;
                            case SIGN.Domain.Enums.GuidelineStatus.GreaterThanSevenYears:
                                <div title=">7 yrs. Use with caution Declaration of interests governance may not be in line with current policy">
                                    <i class="fa fa-exclamation-circle fa-2x text-error"></i>
                                </div>
                                break;
                            case SIGN.Domain.Enums.GuidelineStatus.Withdrawn:
                                <div title="Withdrawn">
                                    <i class="fa fa-close fa-2x text-error"></i>
                                </div>
                                break;
                            case SIGN.Domain.Enums.GuidelineStatus.BeingUpdated:
                                <div title="Recommendations being updated">
                                    <i class="fa fa-edit fa-2x text-warning"></i>
                                </div>
                                break;
                            default:
                                break;
                        }
                    }

                </td>
                <td><a asp-controller="Guideline" asp-action="Edit" asp-route-id="@guideline.Id" class="btn btn-block btn-sm btn-success">Edit</a></td>
                <td><a asp-controller="Guideline" asp-action="Details" asp-route-id="@guideline.Id" class="btn btn-block btn-sm btn-success">View</a></td>
            </tr>
        }
    </table>
</div>
