@model SIGN.MVC.ViewModels.GuidelineViewModel
@{
    ViewBag.Title = "Guideline Details";
}
@section scripts {
    <environment names="Development">
        <script src="~/js/accordion.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/_app/accordion.js"></script>
    </environment>
}
<div class="col-md-10 col-md-offset-1">
    <div class="page-header">
        <h3>Guideline Details</h3>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading"><h4>@Model.Name</h4></div>
                <div class="panel-body">
                    <div class="col-md-3">
                        <p class="sign-number">@Model.Number</p>
                    </div>
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-3"><p>Published</p></div>
                            <div class="col-md-9"><p>@Model.DatePublished</p></div>
                        </div>
                        <div class="row">
                            <div class="col-md-3"><p>Author</p></div>
                            <div class="col-md-9"><p>@Model.Author</p></div>
                        </div>
                        <div class="row">
                            <div class="col-md-3"><p>Status</p></div>
                            <div class="col-md-9">
                                @{
                                    switch (Model.Status)
                                    {
                                        case SIGN.Domain.Enums.GuidelineStatus.CurrentLessThanThreeYears:
                                            <i class="fa fa-check fa-2x text-success"></i>
                                            break;
                                        case SIGN.Domain.Enums.GuidelineStatus.CurrentThreeToSevenYears:
                                            <i class="fa fa-question-circle-o fa-2x text-warning"></i>
                                            break;
                                        case SIGN.Domain.Enums.GuidelineStatus.GreaterThanSevenYears:
                                            <i class="fa fa-exclamation-circle fa-2x text-error"></i>
                                            break;
                                        case SIGN.Domain.Enums.GuidelineStatus.Withdrawn:
                                            <i class="fa fa-close fa-2x text-error"></i>
                                            break;
                                        case SIGN.Domain.Enums.GuidelineStatus.BeingUpdated:
                                            <i class="fa fa-edit fa-2x text-warning"></i>
                                            break;
                                        default:
                                            break;
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="accordion">Assessments</button>
            <div class="accordion-panel">
                @foreach (var assessment in Model.Assessments)
                {
                    <div>
                        <a asp-controller="Assessment" asp-action="AssessmentDetails" asp-route-id="@assessment.Id" class="btn btn-block btn-success">
                            @assessment.Name
                        </a>
                    </div>
                }
            </div>

            <button class="accordion">Recommendations</button>
            <div class="accordion-panel">
                <div>
                    <a href="#" class="btn btn-block btn-warning">
                        Recommendation 1
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

